{% extends "appbuilder/base.html" %}
{% block content %}
<div class='panel panel-default'>
  <div class='panel-header'>
    <div class="well"><center>{{ info }}</center></div>
  </div>
  <br>
  <div class="panel-default">

    <div class="container">
      <div class="well">
        <div class="container-fluid">
          <h3 >Profit Trailer</h3>
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav nav-right">
                <li><a href="">
                  <img src="{{ url_for('static', filename='profit.png') }}" heigh=35>
                </a></li>
                <li class='active'><a href="">{{ estados.profit }}</a></li>
                <li><a href="">Comprobar de nuevo</a></li>
                <li><a href="/profit/start">Iniciar</a></li>
                <li><a href="/profit/stop">Detener</a></li>
                <li><a href="/profit/reset">Reiniciar</a></li>
                <li><a href="/profit/admin">Administrar</a></li>
              </ul>
            </div>
          </nav>
        </div>  
      </div>
    </div>
  
    <div class="container">
      <div class="well">
        <div class="container-fluid">
          <h3>PT Magic</h3>
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav nav-right">
                <li><a href="">
                  <img src="{{ url_for('static', filename='profit.png') }}" heigh=35>
                </a></li>
                <li class='active'><a href="">{{ estados.magic }}</a></li>
                <li><a href=''>Comprobar de nuevo</a></li>
                <li><a href="/magic/start">Iniciar</a></li>
                <li><a href="/magic/stop">Detener</a></li>
                <li><a href="/magic/reset">Reiniciar</a></li>
                <li><a href="/magic/admin">Administrar</a></li>
              </ul>
            </div>
          </nav>
        </div>  
      </div>
    </div>

    <div class="container">
      <div class="well">
        <div class="container-fluid">
          <h3 >PT Magic Monitor</h3>
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <ul class="nav navbar-nav nav-right">
                <li><a href="">
                  <img src="{{ url_for('static', filename='profit.png') }}" heigh=35>
                </a></li>
                <li class='active'><a href="">{{ estados.monitor }}</a></li>
                <li><a href="">Comprobar de nuevo</a></li>
                <li><a href="/monitor/start">Iniciar</a></li>
                <li><a href="/monitor/stop">Detener</a></li>
                <li><a href="/monitor/reset">Reiniciar</a></li>
                <li><a href="/monitor/admin">Administrar</a></li>
              </ul>
            </div>
          </nav>
        </div>  
      </div>
    </div>
  </div>
 </div>
{% endblock %}

